body{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Bylynn Sans,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin:10px
}
code{
    font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}
*{
    box-sizing:border-box
}
body{
    background-color:#ffffff;
    text-align:center
}
.row{
    align-items:center;
    display:flex;
    justify-content:center
}
.row-letter,.row-letter-color{
    align-items:center;
    border:2px solid #d3d6da;
    display:flex;
    flex:1 1;
    font-size:28px;
    font-weight:700;
    height:40px;
    justify-content:center;
    margin:2px;
    max-width:40px;
    text-transform:uppercase
}
.app-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0 auto;
    max-width:500px;
    position:relative
}
.app-container h1{
    margin-top:0
}
.game,h1{
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.game,table.game-rows{
    display:flex;
    flex-direction:column
}
table.game-rows{
    margin:auto
}
table.game-rows:focus{
    outline:none
}
.game-keyboard,table.game-rows>tbody{
    display:flex;
    flex-direction:column
}
.game-keyboard-row{
    display:flex;
    flex-direction:row;
    justify-content:stretch
}
.game-keyboard-button{
    align-items:center;
    background-color:#d3d6da;
    border:2px solid transparent;
    border-radius:4px;
    color:inherit;
    cursor:pointer;
    display:flex;
    flex:1 1;
    font-family:inherit;
    font-size:20px;
    justify-content:center;
    margin:2px;
    min-height:40px;
    padding:2px;
    text-decoration:inherit;
    text-transform:capitalize;
    font-weight: bold;
}
.game-keyboard-button-wide{
    flex:2 1
}
.game-keyboard-button:focus{
    outline:none
}
.enter{
    font-size:15px;
}
.letter-correct{
    background-color:#6baa64;
    border: none;
    color:#fff!important
}
.letter-elsewhere{
    background-color:#cab458;
    border: none;
    color:#fff!important
}
.letter-not-present{
    background-color:#a2a2a2;
    border: none;
    color:#fff!important
}